.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.h1 {
    margin: 30px;
    font-weight: 200;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}
